/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 0 5%;
}

@font-face {
    font-family: "Raleway";
    src: url("Police/Raleway-VariableFont_wght.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: black;
}

::placeholder {
    color: black;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1600px;
    margin: auto;
}


/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.liste {
    display: flex;
    list-style: none;
}

.nav-link {
    padding: 60px 30px 0px 30px;
}

.nav-link:hover {
    border-top: 2px solid #0065fc;
    padding: 60px 30px 0px 30px;
    color: #0065fc;
}

.subscribe-link {
    padding: 60px 30px 0px 30px;
    font-weight: bold;
    color: #0065fc;
}


/* search section */

.title {
    font-size: 23px;
    padding-bottom: 5px;
}

.title-main {
    font-size: 17px;
    padding-bottom: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 20px;
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    min-height: 56px;
    background-color: #f2f2f2;
    border-radius: 16px 0px 0px 16px;
    font-size: 20px;
}

.search input {
    height: 56px;
    border-left: none;
    border-right: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
}

.search button {
    height: 56px;
    border: none;
    border-radius: 0px 16px 16px 0px;
    color: white;
    background-color: #0065fc;
    font-weight: bold;
    font-size: 18px;
    padding: 0 16px;
}

.recherche {
    background-color: #0065fc;
    color: white;
    border-radius: 0 1rem 1rem 0;
    line-height: 30px;
}

.footer {
    display: flex;
}

h3 {
    display: flex;
}

.footer ul {
    list-style: none;
}

.filter-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 35px 35px 35px 35px;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    background-color: white;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.filters h2 {
    padding-right: 30px;
    font-size: 18px;
    font-weight: bold;
}

.filter-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
    font-size: 17px;
    background-color: #deebff;
    height: 54px;
    width: 54px;
    margin: -2px;
}

.filter-link span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 20px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
}


/* début info */

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    min-height: 30px;
    min-width: 30px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50%;
}

.info p {
    font-size: 15px;
}


/* Fin info */


/* tourisme marseille */

.host-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.host {
    /* flex basis sert a occuper l'espace */
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.popular {
    flex-basis: 32%;
    background-color: #f2f2f2;
    border-radius: 20px;
}


/* hebergement à marseille */

.host h2 {
    font-size: 20px;
    padding: 40px 0px 30px 40px;
}

.host-cartes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    width: 90%;
    margin: auto;
}

.host-carte-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 5px #b1b1b1;
}

.host-carte-item img {
    border-radius: 20px 20px 0px 0px;
    height: 110px;
    /* object fit empêcher l'écrasement des img */
    object-fit: cover;
}

.host-carte-item-contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px 5px 15px;
    min-height: 90px;
}

.host-carte-item-contenu h3 {
    font-size: 15px;
}

.host-carte-item-contenu p {
    font-size: 15px;
}

.afficher-plus {
    font-weight: bold;
    border: none;
    margin: 50px 0px 50px 45px;
    font-size: 20px;
}


/* Fin hebergement a marseille */

.fa-star {
    color: #0065fc;
}

.grey {
    color: #b1b1b1;
}


/* plus populaires */

.popular-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 30px 40px;
}

.popular h2 {
    font-size: 20px;
}

.popular i {
    font-size: 20px;
}

.popular-cartes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 35px;
    width: 90%;
    margin: auto;
}

.popular-carte-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 5px #b1b1b1;
}

.popular-carte-item img {
    border-radius: 20px 0px 0px 20px;
    height: 110px;
    max-width: 35%;
    min-width: 35%;
    /* object fit empêcher l'écrasement des img */
    object-fit: cover;
}

.popular-carte-item-contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px 5px 15px;
    min-height: 90px;
}

.popular-carte-item-contenu h3 {
    font-size: 15px;
}

.popular-carte-item-contenu p {
    font-size: 15px;
}


/* Fin plus populaires */


/* Début Activity */

.activity-title {
    margin-top: 60px;
}

.activity-title h2 {
    padding-bottom: 17px;
    font-size: 21px;
}

.activity-cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-cartes .vp {
    color: black;
    width: 22%;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.activity-cartes h4 {
    padding: 15px;
}

.vieux-port img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.pomegues-frioul {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pomegues-frioul .po {
    width: 100%;
    height: 55%;
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.pomegues {
    height: 100%;
}

.pomegues-frioul .fri {
    width: 100%;
    height: 35%;
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.frioul {
    height: 100%;
}

.pomegues img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.frioul img {
    width: 100%;
    height: 102px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cal {
    width: 22%;
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.calanques img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.notredame-longchamp {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notredame-longchamp .nd {
    width: 100%;
    height: 45%;
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.notredame {
    height: 100%;
}

.notredame-longchamp .lo {
    width: 100%;
    height: 45%;
    color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    border: 0px solid #F2F2F2;
}

.longchamp {
    height: 100%;
}

.notredame img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.longchamp img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


/* Fin Activity */

.footer {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-top: 100px;
    justify-content: space-around;
    background-color: #f2f2f2;
    height: 300px;
}

.footer li {
    display: flex;
    font-size: 20px;
    padding-top: 17px;
}

.footer h3 {
    font-size: 25px;
    padding-top: 15px;
}

@media only screen and (max-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        margin-top: 100px;
        justify-content: space-around;
        background-color: red;
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        margin-top: 100px;
        justify-content: space-around;
        background-color: blue;
        height: 300px;
    }
}