/* Global */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 0 5%;
}

@font-face {
    font-family: "Raleway";
    src: url('Police/Raleway-VariableFont_wght.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: blue;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    padding: 62px 0;
}

.liste {
    display: flex;
    list-style: none;
}

.nav-link {
    padding: 60px 30px 0px 30px;
}

.nav-link:hover {
    border-top: 2px solid #0065fc;
    padding: 60px 30px 0px 30px;
    color: #0065fc;
}

.subscribe-link {
    padding: 60px 30px 0px 30px;
    font-weight: bold;
    color: #0065fc;
}


/* search section */

.search {
    display: inline-flex;
    align-self: baseline;
    border: 2px solid #eee;
}

.inscription {
    color: blue;
    font-weight: bold;
}

.hebergement {
    border-top: blue solid;
    display: flex;
}

.icon {
    display: inline-block;
    line-height: 50px;
    padding-left: 30px;
    background: url("images/map-marker-alt-solid.svg") no-repeat scroll 0 0 transparent;
    background-color: #eee;
    border-radius: 1rem 0 0 1rem;
    background-position: center;
}

.recherche {
    background-color: #0065fc;
    color: white;
    border-radius: 0 1rem 1rem 0;
    line-height: 30px;
}

.input {
    color: black;
    font-weight: bold;
}

.footer {
    display: flex;
}

h3 {
    display: flex;
}

.footer ul {
    list-style: none;
}